html {
height: 100%;
max-height: 100vh;
max-width: 100%;
}

body {
background-image: url( ../../src/images/9798287D-B0A4-4914-8BD3-1B71C19ED386.png );
background-size: cover;
background-repeat: no-repeat;
background-position: center bottom;
background-color: black;
margin: 0;
}

.login {
width: 300px;
padding: 10px;
margin: 10px;
height: 30px;
}

input[type="text"]:focus {
border: 1px solid #AF9570;
outline: none !important;
}

input[type="submit"] {
border: none;
margin-left: 155px;
border-radius: 0;
width: 166.67px;
height: 44.44px;
background: #29c160;
color: #ffffff;
font-family: SofiaProBold, sans-serif;
font-size: 15px;
font-style: normal;
font-stretch: normal;
font-weight: 400;
line-height: 20px;
text-align: center;
text-transform: none;
letter-spacing: 0.3px;
}

input[type="submit"]:hover {
-webkit-box-shadow: -10px 10px 0px rgba(50,50,50 ,0.15);
-moz-box-shadow: -10px 10px 0px rgba(50,50,50 ,0.15);
box-shadow: -10px 10px 0px rgba(50,50,50 ,0.15);
background-color: #1e1e1e;
}

.username-container {
height: 250px;
background: white;
padding: 5% 0 5% 0;
max-width: 600px;
margin: 150px auto 0 auto;
text-align: center;
color: #686871;
font-family: SofiaProRegular, sans-serif;
font-size: 16px;
font-style: normal;
font-stretch: normal;
font-weight: 400;
line-height: 21px;
text-transform: none;
letter-spacing: 0.32px;
}

.videri {
text-align:left;
padding-left:140px;
height:18px;
font-size:2em;
font-family:SofiaProBlack, sans-serif;
letter-spacing:5px 
}

.orchestrator {
font-size:.5em;
padding-left:10px;
letter-spacing:1px 
}

.signIn {
text-align:left;
padding-left:140px;
height:18px;
color:#000000;
font-family: SofiaProBlack, sans-serif;
font-size:14px;
font-style:normal;
font-stretch:normal;
font-weight:400;
line-height:19px;
text-transform:none;
letter-spacing: 0.5384616px 
}