.flex-container {
    margin-left: 8px;
    font-size: .8em;
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
    font-weight: bold;
    height: 170px;
    min-width: 360px;
    margin: 10px;
    line-height: 25px;
    padding-left: 5px;
}

.flex-container > div img {
 vertical-align: middle;
}

.resultBlock {
    display: inline-block;
}

.menu {
    background-color: white;
    margin: -10px;
}
.folder-selector {
    background-color: white;
    padding: 30px;
}

.folder-selector > div {
    display: inline-block;
}

.folder-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.unselected{background-image:url('../images/folder_off@2x.png');}

.folder-selector input:checked +.folder{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-image:url('../images/folder_on@2x.png');
}

.folder {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 90px;
    height: 60px;
    margin-right: 30px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.clearfix {
    height: 150px;
    overflow: auto;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
}

.content {
    font-family: SofiaProBold, sans-serif;
    padding: 30px;
    display: inline-block;
    float: left;
}

.videriHeader {
    font-weight: lighter;
    text-align: left;
    padding-left: 40px;
    font-size: 1.5em;
    font-family: SofiaProBlack, sans-serif;
    letter-spacing: 5px;
}

.header {
    padding: 2px;
    background-color: #0085CA;
    color: white;
}