.iconStyle {
    display:  inline-block ;
    float:  left ;
    padding-right: 5px;
    line-height:  150px ;
    cursor: pointer;
}

.descriptionStyle {
    display:  inline-block ;
    float:  left ;
    padding-top:  10px ;
    padding-left:  5px ;
}

.fileTypeIcon {
    padding-right: 10px;
}